@model DoorBoxApp.Models.PickUpRequest

@{
    ViewData["Title"] = "Edit Request";
}

@section Css {
    <link asp-append-version="true" type="text/css" rel="stylesheet" href="~/vendor/select2/select2.min.css" />
}


<div class="container-fluid mt-4">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header p-3">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0 skewed skewed-yellow text-white d-inline-block text-uppercase ls-1">Edit Request</h3>
                </div>
                <div class="col text-right">
                    <a asp-action="Index" class="btn btn-back">Back</a>
                </div>
            </div>
        </div>
        <div class="card-body p-3">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">From</label>
                            <select asp-for="LocationFromId" class="form-control" data-toggle="select" asp-items="ViewBag.LocationFromId"></select>
                        </div>
                    </div>

                    @*<div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Request Details</label>
                            <input asp-for="Details" class="form-control">
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label text-dark ls-1 text-uppercase">Pickup Address</label>
                            <textarea asp-for="PickupAddress" class="form-control" rows="2"></textarea>
                            <span asp-validation-for="PickupAddress" class="text-danger"></span>
                        </div>
                    </div>*@

                    <div class="col-lg-12">
                        <div class="form-group mb-0">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/vendor/select2/select2.min.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

