<div class="footer-end">
    <div class="container-fluid">
        <ul>
            <li class="name_title">
                <p class="text-uppercase">Door Box</p>
            </li>
            @*<li class="footer_log">
                <img asp-append-version="true" src="~/asset/img/cpa-logo-footer.png">
            </li>*@
            <li class="copyright mt-5 pb-4">
                <a href="#" >Developed by <i class="fa fa-code"></i> Coders Point</a>
            </li>
        </ul>
    </div>
</div>