@model DoorBoxApp.Models.Common.ViewModels.EditUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

<div class="container-fluid mt-4">
    <div class="card mb-4 animated fadeIn">
        <div class="card-header">
            <h3 class="mb-0 skewed skewed-yellow text-white d-inline-block text-uppercase ls-1">@ViewData["Title"]</h3>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form asp-action="Edit" asp-controller="Users" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UserName"></label>
                            <input asp-for="UserName" class="form-control" />
                            <input type="hidden" asp-for="Id" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-action="Index" asp-controller="Users" class="btn btn-default">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="card mb-4 animated fadeIn">
        <div class="card-header">
            <h3 class="mb-0 skewed skewed-yellow text-dark d-inline-block text-uppercase ls-1">Roles of This User</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    @if (Model.Roles.Any())
                    {
                        foreach (var roleName in Model.Roles)
                        {
                            <h4>@roleName</h4>
                        }
                    }
                    else
                    {
                        <h4 class="text-danger">No Roles of This User at the Moment</h4>
                    }
                </div>
                <div class="col-md-12">
                    <a asp-action="EditRolesOfUser" asp-controller="Users" asp-route-userId="@Model.Id" class="btn btn-primary">Manage Roles</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}